/* COMMON STYLE */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  text-align: center;
  background-color:gray;
}

nav {
  background-color: green;
  padding: 0.5em;
}

nav form {
  display: inline-block;
  margin: 0 5em;
}

/* HOMEPAGE SPECIFIC */

.container {
  height: 100%;
  width: 100%;
}

.container div {
  display: inline-block;
  margin: 0 auto;
}

.col-1 {
  width: 50%;
}

.col-2 {
  width: 20%;
}

.top {
  vertical-align: top;
}


#table {
  border-collapse: collapse;
  background-color: green;
  width: 100%;
}

#table td, th {
  color: yellow;
  border: 3px solid black;
  padding: 5px;
  text-align: center;
}

#table td a {
  color: salmon;
}

#map-row {
  height: 75%;
}

#map {
  height: 75%;
  text-align: left;
}

#right-panel {
  background-color: lightgray;
  max-height: 75%;
  overflow-y: scroll;
  text-align: left;
}

/* FORM PAGE SPECIFIC */

#places-form {
  margin: 0 auto;
  background-color: green;
  width: 20%;
}

.places-form-row {
  text-align: left;
  padding: 0.5em 1em;
}

.places-form-row input {
  float: right;
}

#places-form-submit {
  margin: 0.5em 0;
}
